.daterangeselect__wrapper {
  padding: var(--padding-sm);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-xxxlg);
}

.daterangeselect__datepickers {
  display: flex;
  gap: var(--gap-xxlg);
}
