:root {
  --primary-bg: rgba(123, 45, 67, 1);
  --primary-text-color: black;
  --secondary-bg: rgba(45, 45, 78, 1);
  --secondary-text-color: red;
  --border-color: rgba(0, 255, 0, 1);
  --avatar-border-color: var(--border-color);
  --card-hover-bg: lightcoral;
  --font-color-light: lightorange;
  --font-color-default: lightgray;
  --font-size-sm: 12px;
  --font-size-xsm: 10px;
  --font-size-normal: 14px;
  --font-size-lg: 16px;
  --font-size-xlg: 20px;
  --table-max-height: 400px;
  --table-border-radius: 10px;
  --card-border-radius: var(--table-border-radius);
  --padding-xsm: 5px;
  --padding-sm: 10px;
  --padding-normal: 20px;
  --padding-lg: 30px;
  --padding-xlg: 40px;
  --avatar-height: 50px;
  --avatar-height-details-page: 150px;
  --gap-sm: 4px;
  --gap-default: 8px;
  --gap-lg: 12px;
  --gap-xxlg: 20px;
  --gap-xxxlg: 40px;
}

* {
  box-sizing: border-box;
  word-break: break-all;
}
